

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none" (click)="menuClick()" #mobilenav></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="./assets/img/user-profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Thangasamy</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/thanga_samy777" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://m.facebook.com/thanga.samy.10/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/thangasamy7/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="javascript:;" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://in.linkedin.com/in/thanga-samy-550020146?trk=people-guest_people_search-card"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active" (click)="navItemClick()"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto" (click)="navItemClick()"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto" (click)="navItemClick()"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto" (click)="navItemClick()"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto" (click)="navItemClick()"><i class="bx bx-server"></i> <span>Works</span></a></li>
          <li><a href="#contact" class="nav-link scrollto" (click)="navItemClick()"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Thangasamy</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Fullstack Developer, Angular Developer">
        Fullstack Developer
      </span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a web developer with a vast array of knowledge in many different front end and back end languages, responsive frameworks, databases, and best code practices. My objective is simply to be the best web developer that I can be and to contribute to the technology industry all that I know and can do.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="./assets/img/user-profile.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Fullstack Developer.</h3>
            <p class="fst-italic">
              I am working as a Fullstack Developer and I had 8 year experience in web development. 
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>21 April 1993</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.thangasamy.in</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 6374799297</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chennai, Tamilnadu</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.E</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>thangasamy7@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              My strength is I'm self-motivated and hardworking.My hobbies are listening to songs, traveling and reading books. My long-term goal is to work in a reputed company.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Web design is important because it impacts how your audience perceives your brand. The impression you make on them can either get them to remain on your page and learn about your business or leave your page and turn to a competitor. A good web design helps you keep your leads on your page.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter">{{clientCount}}</span>
              <p><strong>Happy Clients</strong> </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="1" class="purecounter">{{projectCount}}</span>
              <p><strong>Projects</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter">{{supportCount}}</span>
              <p><strong>Hours Of Support</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-filetype-js"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter">{{jsCount}}</span>
              <p><strong>JS Framework Projects</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>The skills of Full Stack Developer is associated with the creation of an application from its start to finish. I here added my major skills which I knew in front-end and backend of an application while ensuring its efficiency, reliability, and other crucial features.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" #html></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" #css></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" #javascript></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Angular/Backbone JS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" #angular></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SOAP & REST API <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" #api></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">PL/SQL <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" #sql></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Worked as on Full Stack Developer which flow includes PL/SQL Procedure, creating the services and
            consuming it in the client.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Thangasamy Muthusamy</h4>
              <p><em>8 Years of experience in web Application development. Hands on Experience in Application developmentusing Angular JS and Backbone JS Framework.</em></p>
              <ul>
                <li>10,samiyadi street,Muhavur-626111</li>
                <li>(91) 637-479-9297</li>
                <li>thangasamy7@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Electrical &amp; Electronics Engineering</h4>
              <h5>2010 - 2014</h5>
              <p><em>Madha Engineering College,Chennai</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Fullstack Developer</h4>
              <h5>2018 - Present</h5>
              <p><em>Globus Medical India Pvt Ltd, Perungudi, Chennai</em></p>
              <ul>
                <li>Develop the Front End page using front end frameworks such as backbone and angular which based on requirement.</li>
                <li>Written the web service for data access from database. </li>
                <li>I did Support work whenever the user need the fix for the issue.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>UI Developer</h4>
              <h5>2014 - 2018</h5>
              <ul>
                <li>Create HTML Pages from given PSD.</li>
                <li>Make the design and animation behavior using css and jquery.</li>
                <li>Cross Browser checking for usability.</li>
                <li>CSS Optimization through write in Less instead of using css.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>A portfolio is a compilation of academic and professional materials that exemplifies your beliefs, skills, qualifications, education, training, and experiences. It provides insight into your personality and work ethic.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-tour">Tour</li>
              <li data-filter=".filter-work">Work</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-tour">
            <div class="portfolio-wrap">
              <img src="./assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="javascript:;" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="javascript:;" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tour">
            <div class="portfolio-wrap">
              <img src="./assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="javascript:;" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="javascript:;" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tour">
            <div class="portfolio-wrap">
              <img src="./assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="javascript:;" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="javascript:;" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-work">
            <div class="portfolio-wrap">
              <img src="./assets/img/portfolio/angular.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="javascript:;" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="javascript:;" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-work">
            <div class="portfolio-wrap">
              <img src="./assets/img/portfolio/backbone.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="javascript:;" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="javascript:;" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Works</h2>
          <p>My career starts with work in frontend technologies that are HTML,CSS,jQuery. After 3 years I got a chance to work in Backbone JS,Angular JS, Angular,Web services using java and SQL. Here I shared my process items and desired technology works.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-filetype-psd"></i></div>
            <h4 class="title"><a href="javascript:;">PSD</a></h4>
            <p class="description">Initially, when i start work in website UI development the designer provide the design as PSD. We just need to meet the expectation in browser using HTML and CSS.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-filetype-js"></i></div>
            <h4 class="title"><a href="javascript:;">Javascript</a></h4>
            <p class="description">I used javascript to apply behavior of web items when user click or do any action. In frontend,we primarily using javascript for Charts,validate form, getting and setting data using webservices.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-stack-overflow"></i></div>
            <h4 class="title"><a href="javascript:;">Stack Overflow</a></h4>
            <p class="description">Stack Overflow is a question-and-answer website for programmers. It always helps me to fix the issue.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-bootstrap"></i></div>
            <h4 class="title"><a href="javascript:;">Bootstrap</a></h4>
            <p class="description">Bootstrap is used to build fast, responsive sites with Powerful, extensible, and feature-packed frontend toolkit. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="javascript:;">Angular</a></h4>
            <p class="description">Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-filetype-sql"></i></div>
            <h4 class="title"><a href="javascript:;">PL/SQL</a></h4>
            <p class="description">When i used to work on webservices, I learned how to write a query for the basic operations such as GET,INSERT,UPDATE and DELETE Operations. </p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Following</h2>
          <p>Motivation is derived from the word 'motive', which denotes a person's needs, desires, wants, or urges. It is the process of motivating individuals to take action to achieve a goal. We get ideas from our following to drive us move forward in life.  </p>
        </div>
        
        <div class="owl-testimonials-slider" data-aos="fade-up" data-aos-delay="100">
          <!-- <div class="swiper-wrapper"> -->
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <!-- <div class="swiper-slide"> -->
                   <div class="testimonial-item" data-aos="fade-up"> 
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      All that we are is the result of what we have thought.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="./assets/img/testimonials/buddha.jpg" class="testimonial-img" alt="">
                    <h3>Buddha</h3>
                    <h4>Religious Teacher</h4>
                  </div> 
                <!-- </div> -->
                <!-- End testimonial item -->
              </ng-template>  
              <ng-template carouselSlide>
                <!-- <div class="swiper-slide"> -->
                  <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100"> 
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Fear comes from a lack of Knowledge. Accelerate your learning.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="./assets/img/testimonials/jay.jpg" class="testimonial-img" alt="">
                    <h3>Jay Shetty</h3>
                    <h4>Entrepreneur</h4>
                  </div>
               <!--  </div> -->
                <!-- End testimonial item -->
              </ng-template>  
              <ng-template carouselSlide>
                <!-- <div class="swiper-slide">-->
                  <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200"> 
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Love is the most powerful weapon on the face of the earth.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="./assets/img/testimonials/princeea.jpg" class="testimonial-img" alt="">
                    <h3>Prince Ea</h3>
                    <h4>Motivational Speaker</h4>
                   </div>
                <!--</div> -->
                <!-- End testimonial item -->
              </ng-template>  
            </owl-carousel-o>
          <!-- </div> -->
          <!-- <div class="swiper-pagination"></div> -->
        </div>

      </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We don't simply deliver projects, we deliver values. The values that can impact life. Please contact me if any website or web applications have to do for your business or advertisement.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>10,samiyadi street,Muhavur-626111</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>thangasamy7@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 63747 99297</p>
              </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15745.353811917514!2d77.47379414818586!3d9.391663800956314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1694822243831!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center" #backtop><i class="bi bi-arrow-up-short"></i></a>

 